		html,body {
			height: 100%;
			margin: 0;
			padding: 0;
			background-color: #517e55; 
	 	 }
		#page {
			margin: 0 auto;
			width: 80%;
			height: 100%;
			/*border: 1px solid black;*/
		}
		#header {
			position: relative;
			width: 1171px;
			height: 213px;
			background-image: url('../image/bgheader.png');
			border-bottom: 10px solid #29a40b;
		}
		#logo {
			left: 70px;
			top: 40px;
		  	width: 170px;
		  	height: 97px;
			position: absolute;
			background-image: url('../image/smlogo.png');
		}
		#bird {
			left: 350px;
			top: 30px;
		  	width: 64px;
		  	height: 56px;
			position: absolute;
			background-image: url('../image/smbird.png');
		}
		#main {
			position: relative;
			background-color: white;
			top: -1px;
			width: 1170px;
			height: 650px;			
		}
		#sidebar {
			margin-left: 30px;
			margin-top: 25px;
			float: left;
			width: 25%;
		}
		#subtitle {
			padding: 10px 0 0px 30px;
			font-size: 20pt;
			font-family: Arial;
			color: #416e45;
		}
		#subtitle span {
			position: relative;
			top: -20px;
		}
		#subvisiticon{
			width: 71px;
			height: 70px;
			background-image: url('../image/icon_visit.png');
			display: inline-block;
		}
		#subbranchicon{
			width: 71px;
			height: 70px;
			background-image: url('../image/icon_branch.png');
			display: inline-block;
		}
		#subeffecticon{
			width: 71px;
			height: 70px;
			background-image: url('../image/icon_effective.png');
			display: inline-block;
		}
		.submenu {
			text-decoration: none;
			font-size: 18pt;
			font-family: nyala;
			color: #ffffff;
		}
		div#menu {
			margin: 0;
			padding: 0;
			border: 0;
			width: 20em; 
		}
		div#menu ul li a {
			background-color: #5a844d;
			padding: 7px 28px;		
			color: #ffffff;
			display: block;
			border-radius: .2em;
		}
		div#menu ul li a.onactive, div#menu ul li a:hover {
			background-color: #a4c39e;
		 	color: #274f1a;		
		}	
		div#menu ul li {
			margin: 10px 0;
			text-decoration: none;
			font-size: 18pt;
			font-family: nyala;
			color: white;
		}			
		#content {
			border: 40px solid #a4c39e;
			margin-left: -70px;
			width: 68%;
			height: 420px;	
			border-top-right-radius: 3.2em;
			border-top-left-radius: 3.2em;	
			border-bottom-right-radius: 3.2em;
			border-bottom-left-radius: 3.2em;	
			display: block;	
			background-color: #e3fade;	
			float: left;
			/*box-shadow: 2px 5px 3px black;*/
		}
		#map {
			border: 2px solid #cfd0ce;
			margin-top: 25px;
			margin-left: 65px;
			width: 665px;
			height: 364px;
			background-image: url('../image/map.png');
		}
		#phoneicon {
			float: left;
			margin-top: 4px;
			margin-left: 12px;
			width: 30px;
			height: 33px;
			background-image: url('../image/phone.png');
			display: inline-block;			
		}
		#topmenugroup {
			width: 1171px;
			height: 42px;
			background: linear-gradient(#63845b 8%, #314b2b);
		}
		#topmenuitem {
			display: inline-block;
			margin-left: 200px;
		}
		.topmenu {
			padding: 0 20px;
			float: left;
			margin-top: 12px;
			font-size: 19px ;
			font-family: Estrangelo Edessa;
			color: white;
		}
		#productsearch {
			float: right;
			margin-top: 8px;
		}
		.searchBox {
		 	background-image: url('../image/search.png');
  			background-repeat: no-repeat;
  			padding-left: 30px;
  		}
		#footermenu{
  			float: left;
			margin-top: 12px;
			margin-left: 40px;
  		}
  		.footer {
  			font-size: 15px;
  			font-family: Adobe Fan Heiti std;
  			color: #787878;
  		}
  		#leftpicture {
  			margin-top: 16px;
  			float: left;
  		}
  		#rightpicture {
   			margin-top: 16px;
  		  	float: right;
  		}
  		#firstleft img {
  			width: 130px;
			height: 98px;  	
			margin: 20px 0 0 30px;					
			box-shadow: 9px 9px 3px #6f7a6c;
  		}
  		#secondleft img {
  			width: 130px;
			height: 98px;   	
			margin: 20px 20px 0 30px;							
			box-shadow: 9px 9px 3px #6f7a6c;
  		}
  		#thirdleft img {
  			width: 130px;
			height: 98px;   	
			margin: 20px 20px 0 30px;					
			box-shadow: 9px 9px 3px #6f7a6c;
  		}
  		#firstright img {
  			width: 130px;
			height: 98px;   		
			margin: 20px 30px 0 0;						
			box-shadow: 9px 9px 3px #6f7a6c;
  		}
  		#secondright img {
  			width: 130px;
			height: 98px;    	
			margin: 20px 30px 0 0;							
			box-shadow: 9px 9px 3px #6f7a6c;
  		}
  		#thirdright img {
  			width: 130px;
			height: 98px;   	
			margin: 20px 30px 0 0;					
			box-shadow: 9px 9px 3px #6f7a6c;
  		}
  		#middlepicture {
  			float: left;
   			width: 355px;
			height: 359px;
			margin: 28px 0 0 45px;
			background-repeat: no-repeat;
  			background-image: url('../image/middlepicturebg.png');
  		}
  		#middlepicture img {
  			border-radius: 25px;
  			border: 4px solid white;
  			overflow: hidden;
  			margin-top: 30px;
  			margin-left: -23px;
  			width: 400px;
  			height: 300px;
  		}
  		#tableborder {
  			float: left;
  			border: 2px solid #c5dfbf;
  			margin-top: 30px;
  			margin-left: 30px;
   			width: 730px;
			height: 360px;
  		}
  		#leftside{
  		  	margin-top: 16px;
  			float: left;

  		}
  		#rightside{
  		  	margin-top: 65px;
  			margin-left: 130px;		
  		}
  		#infoicon {
  			float: left;
  			margin-top: 30px;
  			margin-left: 40px;
  			width: 52px;
			height: 44px;
  			background-image: url('../image/infoicon.png');
  		}
  		#transicon {
  			float: left;
  			margin-top: 30px;
  			margin-left: 40px;
  			width: 52px;
			height: 44px;
  			background-image: url('../image/transicon.png');
  		}
  		.info {
  			font-family: Arial;
  			font-size: 12pt;
  			line-height: 2px;
  			color: #424741;
  			line-height: 20px;
  			display: block;
   		}
  		.welcome {
  			font-family: Arial;
  		  	color: #424741;
  			font-size: 12pt;
  			margin-top: 80px;
  		}
   		#vline {
			margin: 0 auto;
			height: 0px;
			width: 1120px;
			border-top: 1px solid;
			color: #c7c7c7;
  		}
 		.effmenu {
  			font-family: Adobe Fan Heiti std;
  			font-size: 16px;
  			margin-left: 135px;
  			line-height: 35px;
  		}
   		#topic {
  			margin-top: 20px;
  			margin-left: 115px;
  			float: letf;
  		}
 		.efftopic {
  			font-family: Adobe Fan Heiti std;
  			color: #007e0c;
  			font-size: 18px;
  		}
  		#effpage {
   			font-family: Adobe Fan Heiti std;
  			font-size: 16px;
  			margin-left: 800px;
  			float: right;
  			display: inline-block;	
  		}
  		#leftcontent {
  			float: left;
  			width: 700px;
  			display: inline-block;
  		}
  		#rightcontent {
  			float: right;
  			margin-right: -280px;
  			display: inline-block;
  		}
  		#effcontent {
  			float: left;
  			margin-left: 110px; 
  			margin-top: 30px;
  			margin-right: 200px 
  		} 
  		.efftitle {
  			font-family: Kozuka Gothic Pr6N;
  			font-size: 16px;
  			color: #394039;
  			font-weight: bold;
  		}	
  		.econtent {
  			font-family: Kozuka Gothic Pr6N;
  			font-size: 15px;
  			color: #394039;
  		}
  		#effimage {			
  			width: 220px;
			height: 280px;
			border: 1px solid;
			color: #787878;
			background-image: url('../image/effective.png');
  		}
